body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#menurectangle {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  box-shadow: 20px 34.641px 79.8px 4.2px rgba(0, 0, 0, 0.46);
  width: 918px;
  height: 618px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  z-index: 4;
}

#rectangle {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  box-shadow: 20px 34.641px 79.8px 4.2px rgba(0, 0, 0, 0.46);
  width: 450px;
  height: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  z-index: 4;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#logo{
  padding-top: 45px;
  margin: 0 auto;
  pointer-events:none;

}

#wrap {
  position: relative;
}

#center_text {
  margin-top: 30px;
  pointer-events:none;
}

#button {
  margin-top: 30px;
}