<!DOCTYPE html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dormserv.css' %}"/>

<head>
	<title>Over Easy</title>
	<link rel="stylesheet" type="text/css" href="dormserv.css">

</head>

<html>
	<body background={% static "img/dormserv-background.jpeg" %}>

	<div id="wrap">
		<a href="/">
		<div id="menurectangle">

			<img src="{% static "img/menu.png"%}" height="618" width="918" style="  pointer-events:none;" class="center">
		</div>	
		</a>
	</div>
</body>
</html>